@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Play&display=swap');

body{
font-family: "Open Sans", sans-serif;
margin:0;
background:#F7F9FC;
}

h1,h2,h3{
font-family:"Play", sans-serif;
color:#150d3d;
}

header{
padding:20px;
background: linear-gradient(90deg,#011586,#000000);
text-align:center;
}

.logo{
max-width:100%;
height:auto;
padding-top:15px;
}

.logo:hover{
opacity:.85;
}

nav{
background:#00026d;
text-align:center;
border-bottom:4px solid #75b3ee;
}

nav ul{
list-style-type:none;
margin:0;
padding:12px;
}

nav li{
display:inline;
padding:12px;
}

nav a{
text-decoration:none;
font-weight:bold;
color:#ffffff;
}

nav a:hover{
color:#35ff68;
}

.home-hero{
background-image:url("images/hero-image.jpg");
height:300px;
background-size:cover;
background-position:top center;
}

.home-hero h1{
color:white;
text-shadow:2px 2px 3px rgba(0, 48, 6, 0.7);
text-align:center;
padding-top:115px;
font-size:3em;
margin:0;
font-weight:normal;
}

main{
max-width:1000px;
margin:30px auto;
padding:10px;
}

footer{
max-width:1000px;
margin:30px auto;
padding:10px;
font-style:italic;
text-align:center;
color:#444;
}

.float-right{
float:right;
max-width:40%;
height:auto;
margin:20px;
border-radius:10px;
box-shadow:0 8px 20px rgba(0,0,0,.15);
}

.float-left{
float:left;
max-width:40%;
height:auto;
margin:30px 30px 30px 0;
border-radius:10px;
box-shadow:0 8px 20px rgba(0,0,0,.15);
}

.text-box{
float:right;
max-width:40%;
margin:10px 20px;
background:#0b0047;
color:white;
padding:18px;
border-radius:12px;
}

.text-box h2{
color:#fabf34;
font-size:1.5em;
}

.button-design{
display:inline-block;
padding:12px 24px;
background:#35ff82;
color:white;
text-decoration:none;
border-radius:25px;
margin:12px 0;
font-weight:bold;
}

.button-design:hover{
background:#029457;
}

@media only screen and (max-width:1024px){
main,footer{
width:90%;
}
}

@media only screen and (max-width:768px){
.home-hero{
height:125px;
}
.home-hero h1{
font-size:1.5em;
padding-top:45px;
}
.float-right,.float-left{
display:none;
}
.text-box{
float:none;
max-width:100%;
display:block;
}
nav li{
display:block;
border-bottom:1px solid #ff0000;
}
}
